body{
	margin-bottom: 80px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; 
}

.page-header{
	margin-top: 0px;
}

.panel-body{
	padding-top: 0px;
}

.featuredImg{
	margin-bottom: 20px;
}